html {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 25vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0 auto;
    background-color: #C589E8;
    color: #ECFFF8;
    font-family: "Montserrat", sans-serif;
}


/*Nav Bar Start*/
ul.menu {
    grid-area: header;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    /* position: absolute; */
    top: 0px;
    text-align: center;
    z-index: 1;
}

ul.menu ul {
    display: none;
}

.menu a {
    display: block;
    background: #E3DAFF;
    padding: 10px;
    text-decoration: none;
    transition: transform 0.1s ease-in, background-color 0.5s linear;
    flex-basis: auto;
}

.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:focus,
.menu a:active {
    color: #7E2E84;
}

.menu li {
    width: 100%;
    border: #7E2E84 solid 2px;
}

.menu a:hover {
    background: #7E2E84;
    color: #ECFFF8;
    transform: scale(1.1);
}

/*Nav Bar End*/

main {
    grid-area: main;
    display: grid;
    width: 90%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "title"
        "aboutMe"
        "projects"
        "resume";
    margin: auto;
}

header {
    grid-area: header;
}

#titleGroup {
    grid-area: title;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: "Bona Nova SC", serif;
    font-weight: 800;
    font-size: 72pt;
    color: #7E2E84;
    margin: 0 auto;
}

h2 {
    font-family: "Bona Nova SC", serif;
    font-weight: 600;
    font-size: 36pt;
    color: black;
}

h3 {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-size: 24pt;
    color: #ECFFF8;
}

p{
    font-size: 16pt;
    color: #ECFFF8;
}

#titleSubheading {
    color: #E3DAFF;
    font-size: 24pt;
    margin: 0;
}

#aboutMe {
    grid-area: aboutMe;
    display: flex;
    padding: 2em 0;
    text-align: center;
}

.pageText {
    padding: 1em 2em;
    width: 100%;
}

#aboutMe img {
    width: 50%;
}

#projectList {
    grid-area: projects;
    padding: 2em 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0 auto;
}

.project {
    display: grid;
    width: 45%;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "projectTitle"
        "projectImage"
        "projectInfo";
    margin: 1em;
    border: 3px solid #7E2E84;
}

.project img {
    grid-area: projectImage;
    width: 90%;
    margin: 1em;
    justify-self: center;
}

.project h3 {
    grid-area: projectTitle;
    font-size: 30pt;
}

.project p,
ul {
    grid-area: projectInfo;
    margin: 2em 3em;
    text-align: left;
}

footer {
    grid-area: footer;
    background-color: black;
    color: #ECFFF8;
    margin: auto 0;
    padding: 2em;
    text-align: center;
}

a:link,
a:visited {
    color: #ECFFF8;
}

a:hover,
a:focus {
    color: #1AC8ED;
}

a:active {
    color: #7E2E84;
}

@media only screen and (max-width: 1150px) {
    ul.menu {
        flex-direction: column;
    }

    #titleGroup {
        text-align: center;
        margin-top: 100px;
    }

    #aboutMe {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    #aboutMe img {
        width: 100%;
        margin-top: 20px;
    }

    .pageText {
        padding: 1em 0;
        width: 100%;
    }

    .project {
        width: 90%;
    }
}