body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 1fr 5vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0 4em;
    background-color: #D84A3B;
}

p {
    color: white;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 0.8fr 1fr 1fr;
    grid-template-areas:
        "gravity gravity"
        "craft   mill"
        "craft   lee";
}

header {
    grid-area: header;
    padding: 2em;
}

h1{
    font-size: 72pt;
    font-family: 'Black Han Sans', sans-serif;
}

header h1 {
    margin-bottom: 0;
}

h2{
    font-weight: 800;
    font-family: sans-serif;
}

header h3 {
    margin-top: 0;
    color: white;
}

#gravity {
    grid-area: gravity;
    display: flex;
    padding: 2em;
}

.pageText {
    padding: 1em 2em;
}

#gravity img {
    width: 50vw;
}

#craft {
    grid-area: craft;
    padding: 2em;
}

#mill {
    grid-area: mill;
    padding: 2em;
    display: flex;
}

#mill img {
    width: 30vw;
}

#lee {
    grid-area: lee;
    padding: 2em;
    display: flex;
}

#lee img {
    width: 35vw;
}

footer {
    grid-area: footer;
    background-color: black;
}